<div class="jumbotron">
  <h1>Editing guest details</h1>
</div>

<div class="container">
  <div class="col-10">
    <%= simple_form_for(@guest, html: { class: 'form-horizontal' }) do |f| %>
      <%= f.input :name, label: 'Guest Name(s)' %>
      <%= f.input :age, label: 'Guest Age(s)' %>
      <%= f.input :description %>
      <%= f.input :hostconnected, label: 'Host(s) Connected' %>
      <%= f.input :whereseated, label: 'Guest(s) seated at' %>
      <%= f.input :to_export, inline_label: 'To export to Telegram?' %>
      <%= f.input :actionplan, label: 'Action Plan' %>
      <%= f.button :submit %>
    <% end %>
    <br>
    <%= link_to 'Delete', guest_path(@guest.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <%= link_to 'Back to home', guests_path, class: "btn btn-primary" %>
  </div>
</div>
