<h3 class="jumbotron fluid">Host Guest Tracker</h3><br>
<div class="container-fluid" id = "top">
  <div class="col-12">

    <%= link_to 'Add new guest', new_guest_path, class: "btn btn-info" %>
    <br><br>

    <div class="card p-1">
      <h5>Guests</h5>
      <% @guests.each.with_index do |guest, index| %>
      <p><b><%= index + 1 %>. <a href= #<%= guest.name.split(' ').join %> > <%= guest.name %> </a></b></p>
      <% end %>
    </div>


    <div id="to-export">
      <%= render partial: 'to_export', locals: { guests: @guests } %>
    </div>


    <br>

    <div id="exportbutton">
      <%= render partial: 'exportbutton', locals: { guests_to_export: @guests_to_export } %>
    </div>

  </div>
</div>


<br>
