<div class="jumbotron">
  <h1>Please enter guest details</h1>
</div>

<div class="container">
  <div class="col-10">
    <%= simple_form_for(@guest, html: { class: 'form-horizontal' }) do |f| %>
      <%= f.input :name, label: 'Guest Name(s)', placeholder: 'Bob' %>
      <%= f.input :age, label: 'Guest Age(s)', placeholder: '27' %>
      <%= f.input :description, placeholder: 'How they heard about us / Purpose of Visit / Stage of life' %>
      <%= f.input :hostconnected, label: 'Host(s) Connected',placeholder: 'Kenneth' %>
      <%= f.input :whereseated, label: 'Guest(s) seated at',placeholder: 'C3' %>
      <%= f.input :leaderorpastor, inline_label: 'Is the guest a leader or pastor?' %>
      <%= f.input :tobeconnected, inline_label: 'Does the guest want to be connected?' %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
